.claim-view {
  display: grid;
  height: 300px;

  .card {
    margin: auto;
    background-color: crimson;
    color: azure;
    width: 600px;
    box-shadow: 10px 10px 5px grey;
    z-index: 1;
    .claim-heading {
      font-size: 26px;
      font-family: "Noto Serif";
      border: 3px solid salmon;
      padding: 0.2em;
      font-weight: bolder;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .claim-body{
      font-size: 20px;
      min-height: 60px;
      padding-top: 10px;
      padding-left: 5px;

      .status{
        padding-top: 50px;
        padding-bottom: 14px;
        font-style: oblique;
        font-weight: 800;
        font-size: 23px;
        .progress-complete {
          color: lightgreen;  
         }
      }
     
    }
    .claim-footer {
      background-color: rgb(63, 34, 40);
      text-align: center;
      font-style: italic;
      padding: 10px;
    }
  }
  
}

@media screen and (max-width: 700px) {
  .claim-view {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
}

.button-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  .button-link {
    background-color: darksalmon;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;

    border: 2px solid lemonchiffon;
    border-radius: 10%;

    box-shadow: 2px 2px 2px lightcoral;
    z-index: 1;
  }

  .button-link:hover {
    background-color: salmon;
  }
}
